@inherits LayoutComponentBase

@Body

<div id="blazor-error-ui" >
    An unhandled error has occurred.
    <a class="reload"
       href="" >
        Reload
    </a>
    <a class="dismiss" >🗙</a>
</div>
