[*.cs]

# IDE0079: Remove unnecessary suppression
dotnet_diagnostic.IDE0079.severity = none

# CS8618: Non-nullable field must contain a non-null value when exiting constructor. Consider declaring as nullable.
dotnet_diagnostic.CS8618.severity = none

# IDE0048: Add parentheses for clarity
dotnet_diagnostic.IDE0048.severity = none

# Default severity for analyzer diagnostics with category 'Naming'
dotnet_analyzer_diagnostic.category-Naming.severity = none

# Default severity for analyzer diagnostics with category 'Style'
dotnet_analyzer_diagnostic.category-Style.severity = none
