<ul class="flex-column nav nav-pills nav-sidebar"
    data-accordion="false"
    data-widget="treeview"
    role="menu" >

    <li class="nav-item" >
        <NavLink class="nav-link"
                 href="/Logs"
                 Match="NavLinkMatch.All" >
            <i class="fa-circle far nav-icon" ></i>
            <p>
                Logs
            </p>
        </NavLink>
    </li>

    <li class="nav-item" >
        <NavLink class="nav-link"
                 href="/Apps"
                 Match="NavLinkMatch.All" >
            <i class="fa-circle far nav-icon" ></i>
            <p>
                Apps
            </p>
        </NavLink>
    </li>

    <li class="nav-item" >
        <NavLink class="nav-link"
                 href="counter" >
            <i class="fa-circle far nav-icon" ></i>
            <p>
                Counter
            </p>
        </NavLink>
    </li>

    <li class="nav-item" >
        <NavLink class="nav-link"
                 href="fetchdata" >
            <i class="fa-circle far nav-icon" ></i>
            <p>
                Fetch data
            </p>
        </NavLink>
    </li>

    <li class="nav-item" >
        <NavLink class="nav-link"
                 href="fetchdata-gridview" >
            <i class="fa-circle far nav-icon" ></i>
            <p>
                Fetch data (GridView)
            </p>
        </NavLink>
    </li>

</ul>

@code
{
}
