.navbar {
    padding-top: 0;
    position: relative;
}

.navbar-nav a {
    color: black;
    white-space: nowrap;
}

nav.same-line {
    display: flex;
    justify-content: space-between;
}


.left {
    display: flex;
    flex-grow: 0;
    gap: 0;
}

.right {
    display: flex;
    flex-grow: 1;
    gap: 20px;
}


.container {
    align-content: center;
    justify-content: space-between;
    position: relative;
    width: 100%;
}


.nav-item a {
    align-items: center;
    border-radius: 4px;
    color: #d7d7d7;
    display: flex;
    height: 3rem;
    line-height: 3rem;
}

.nav-item a.active {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
}

.nav-item a:hover {
    background-color: rgba(255, 255, 255, 0.1);
    color: white;
}
