.sv-rounded-corners {
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    border-radius: 8px;
}

.aspect-fit {
}

.sv-active {
}

.sv-button {
}

.sv-cell {
    display: block;
    gap: 10px;
    background-color: #2196F3;
    padding: 10px;
}

.sv-cell-body {
    display: grid;
    font-family: verdana;
    font-size: 20px;
    color: Black;
    border: 2px solid DodgerBlue;
    background-color: White;
}

.sv-body-description {
    grid-column: 0;
    grid-row: 1;
}

.sv-body-hint {
    grid-column: 1;
    grid-row: 0;
}

.sv-body-title {
    grid-column: 0;
    grid-row: 0;
}

.sv-body-value {
    grid-column: 1;
    grid-row: 1;
}

.sv-cell-description {
}

.sv-cell-hint {
}

.sv-cell-value {
}

.sv-body-value-entry {
}

.sv-disabled {
}

.sv-label {
}

.sv-popup {
}

.sv-popup-list {
}

.sv-popup-list-item {
}

.sv-root {
}

.sv-root-list {
}

.sv-section {
}

.sv-section-body {
}

.sv-section-footer {
}

.sv-section-header {
}

.sv-section-header-icon {
}

.sv-section-header-icon-collapsed {
}

.sv-section-header-icon-expanded {
}
